{% load static %}

<div id="comments">

</div>

{% if review_enabled %}
    <script src="{% static 'review/bundle.js' %}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var commentsElement = document.getElementById('comments');
            var commentsApi = new CommentsAPI('http://localhost:8010/api/review', '{{ review_token|escapejs }}');
            initCommentsApp(commentsElement, commentsApi, function (addAnnotatableSection) {
                for (var element of document.querySelectorAll('[data-contentpath-field]')) {
                    addAnnotatableSection(element.dataset.contentpathField, element);
                }
            });
        });
    </script>
{% endif %}
