{% load static %}

<div id="comments">

</div>

{% if review_enabled %}
    <script src="{% static 'review/vendor/annotator-2.0.0a3.min.js' %}"></script>
    <script src="{% static 'review/bundle.js' %}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var commentsElement = document.getElementById('comments');
            var commentsApi = new CommentsAPI('http://localhost:8010/api/review', '{{ review_token|escapejs }}');
            initCommentsApp(commentsElement, commentsApi, '{{ reviewer_id|escapejs }}', '{{ reviewer_name|escapejs }}', function (addAnnotatableSection) {
                for (var element of document.querySelectorAll('[data-contentpath-field]')) {
                    addAnnotatableSection(element.dataset.contentpathField, element);
                }
            }, {% if moderation_enabled %}true{% else %}false{% endif %});
        });
    </script>
{% endif %}
