@import '../partials/vars';
@import '../partials/mixins';

.accordion-divider {
  border-top: 1px solid $light-grey;

  &:last-child {
    border-bottom: 1px solid $light-grey;
  }
}

.accordion-expander {
  text-decoration: none;
  margin: 0 auto;
  color: $active-blue;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 88px;

  &:focus {
    @include focus;
  }

  &:after {
    content: '+';
    position: absolute;
    right: $spacing-4;
  }

  &.active {
    border-bottom: 0;

    &:after {
    content: '–';
    }
  }
}

.Expander.collapsed {
  display: none;
}

.accordion-icon {
  height: 40px;
  width: 40px;
}

.accordion-content {
  .with-arrow {
    margin: 0;

    &:before {
      display: none;
    }
    &:after {
      content: '➔';
      margin-left: 0;
    }
  }
}