
// MODAL
// ======

.Modal-Container {
  z-index: 11;
  position: fixed;

  .content {
    width: calc(100% - 60px);
    max-height: calc(100vh - 60px);
  }
}

.Modal-Overlay {
  z-index: 10;
}

// MOBILE
@media (max-width: 480px) {
  .Modal-Container .content {
    width: calc(100% - 30px);
  }
}
