{% extends 'content/article_list.html' %}

{% load cta_box from directory_components %}

{% block page_id %}news-list-page{% endblock %}

{% block list_footer %}
    <div class="container">
      {% url 'brexit-contact-form' as contact_url %}
      {% cta_box box_id='eu-exit-cta-box' description='If you still have a question about Brexit, contact Department for International Trade and one of our experts will try to help you.' button_text='Contact us' button_url=contact_url %}
    </div>
{% endblock %}
