{% extends 'content/topic_list_base.html' %}

{% load directory_components %}

{% block head_title %}Markets - great.gov.uk{% endblock %}

{% block intro_section %}

{% if page.teaser %}
<section id="markets-banner-section" class="topic-list-section background-stone-30 padding-top-60 padding-bottom-0">
    <div class="container">
      <div class="grid-row margin-top-60">
        <div class="column-full column-half-l font-medium">
          {{ page.teaser }}
        </div>
      </div>
    </div>
</section>
{% endif %}
{% endblock %}



{% block child_pages %}
<section id="{{ page.meta.slug }}-list-section" class="topic-list-section background-stone-30 markets-landing">
  <div class="container">
    <h2 class="heading-large margin-bottom-45 margin-bottom-60-m padding-right-90-m">Find market guides for British Businesses interested in selling goods and services overseas.</h2>

    <form id="sectors-form" action="{% url 'markets' %}" method="GET">

    <div class="grid-row">
      <div class="column-third column-quarter-xl">
        <div class="filters">
          <h2 class="heading-small margin-top-0 margin-bottom-30 margin-bottom-15-m">
            <span>Filter markets guides</span>
            <a href="#" class="button mobile-filter-toggle" id="mobile-filter-toggle">Filter market guides</a>
          </h2>
          <ul>
            <li class="filter-section">
              <input type="checkbox" id="sectors" checked />
              <label for="sectors">Opportunities for specific sectors</label>
              <div class="options checkbox-small">
                <ul>
                  {% for sector in sector_list %}
                  <li class="multiple-choice margin-bottom-0">
                    <input type="checkbox" value="{{ sector.id }}" id="{{ sector.id }}" name="sector" {% if sector.id in selected_sectors %} checked {% endif %} />
                    <label for="{{ sector.id }}">
                      {{ sector.name }}
                    </label>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </li>
            <li class="filter-section">
              <input type="checkbox" id="regions" checked />
              <label for="regions">Regions</label>
              <div class="options">
                more filters...
              </div>
            </li>

          </ul>
          <div class="filters-sticky-footer" id="filters-sticky-footer">
            <a href="#" class="cancel link">Cancel</a>
            <a href="#" class="button update">Update</a>
          </div>

        </div>
      </div>
      <div class="column-two-thirds column-three-quarters-xl">
        {% if number_of_results > 0 and tag_name %}
        <h3 class="font-medium margin-bottom-0">There are <span class="bold">{{ number_of_results }}</span> market opportunities for <span class="bold">{{ tag_name }}</span> </h3>
        <p>These are the countries our local experts recommend for sectors you selected.</p>
        {% elif tag_name %}
        <h3 class="font-medium">No results found for <span class="bold">{{ tag_name }}</span>. Please try again.</h3>
        {% endif %}
        <div class="controls margin-bottom-45">
          {% if selected_sectors %}
          <p><a href="{% url 'markets' %}" class="view-markets link bold margin-top-15 margin-bottom-45">Clear all filters</a></p>
          {% endif %}
          {% if number_of_results %}
          <div>
            <label for="sortby" class="margin-right-15">Sort by</label>
            <select name="sortby" class="sort-control form-control" id="sortby">
              {% for option in sortby_options %}
              <option value="{{ option.value }}" {% if sortby == option.value %}selected{% endif %}>{{ option.label }}</option>
              {% endfor %}
            </select>
          </div>
          {% endif %}
        </div>




        <div class="flex-grid markets-grid">
          {% include 'content/components/markets_card_grid.html' with cards=pagination_page  %}
        </div>
      </div>

    </div>
  </form>
    {% pagination pagination_page=pagination_page %}
  </div>
</section>
{% endblock %}

{% block body_js %}
<script>
window.onload=function() {

var marketFilters = function() {

  var form = document.querySelector('#sectors-form'),
      filters = document.querySelectorAll('#sectors-form .filters')[0],
      checks = document.querySelectorAll('.filters li.multiple-choice input[type=checkbox]'),
      sortby = document.querySelector('#sortby'),
      cards = document.querySelectorAll('.markets-grid .card'),
      stickyFooter = document.querySelectorAll('.filters-sticky-footer')[0],
      body = document.querySelector('body');

  function init() {
    bindEvents();
    getImages();
  }

  function bindEvents() {
    for (var i=0; i< checks.length; i=i+1) {
      (function(x) {
          checks[i].addEventListener('change', submitForm);
      })(i);
    }

    if(sortby) {
      sortby.addEventListener("change", submitForm);
    }
    stickyFooter.querySelector('a.cancel').addEventListener('click', clearMobileFilters);
    stickyFooter.querySelector('a.update').addEventListener('click', submitForm);

    document.querySelector('#mobile-filter-toggle').addEventListener('click', function(e) {
      e.preventDefault();
      body.classList.add('fixed');
      filters.classList.add('mobile-filters');
      filters.style.height = window.innerHeight + 'px';
    });

    window.addEventListener("resize", resizeHandler);
    window.addEventListener("orientationchange", resizeHandler);
  }

  function resizeHandler() {
    if(window.innerWidth >= 641) {
      getImages();
      if(body.classList.contains('fixed')) {
        clearMobileFilters();
      }
    }
    if(window.innerWidth <= 640) {
      if(filters.classList.contains('mobile-filters')) {
        filters.style.height = window.innerHeight + 'px';
      }
    }
  }

  function submitForm(e) {
    if(e.target.name === 'sector' && window.innerWidth <= 640) return;
      document.querySelector('#sectors-form').submit();
  }

  function clearMobileFilters() {
    body.classList.remove('fixed');
    filters.classList.remove('mobile-filters');
    filters.style.height = '';
  }

  function getImages() {
    if(window.innerWidth >= 641) {
      $(cards).each(function(int, card) {
        var $marketImg = $(card).find('img.card-image');
        if($marketImg.attr('src')) {
          return
        } else {
          $marketImg.attr('src', $marketImg.data('src'));
        }
      })
    }
  }

  return {
  init: init
}

}();

marketFilters.init();

}
</script>
{% endblock %}


