{% extends 'content/topic_list_base.html' %}

{% load directory_components %}

{% block intro_section %}
<section id="markets-banner-section" class="topic-list-section background-stone-30 padding-top-60 padding-bottom-0">
  <div class="container">
    {% informative_banner banner_content='<p>More market guides are coming soon. <br/><a rel="noopener noreferrer" target="_blank" href="https://www.gov.uk/government/collections/exporting-country-guides" title="Opens in a new window">Find out how to export to specific countries in a no-deal Brexit</a>.</p>' %}

    {% if page.teaser %}
    <div class="grid-row margin-top-60">
      <div class="column-full column-half-l font-medium">
        {{ page.teaser }}
      </div>
    </div>
    {% endif %}

  </div>
</section>
{% endblock %}

{% block child_pages %}
<section id="{{ page.meta.slug }}-list-section" class="topic-list-section background-stone-30 padding-top-60 four-column-card-grid">
  <div class="container">

    {% if filtered_countries|length > 0 and tag_name %}
    <h2 class="font-medium margin-bottom-45">Best markets for <span class="bold">{{ tag_name }}</span> <span class="number-display highlight-circle background-active-blue">{{ filtered_countries|length }}</span></h2>

    {% elif tag_name %}
    <h2 class="font-medium">No results found for <span class="bold">{{ tag_name }}</span>. Please try again.</h2>
    {% endif %}

    <div class="flex-grid">
      {% include 'content/components/four_column_card_grid.html' with cards=pagination_page subheading='Market guide' %}
    </div>
    {% pagination pagination_page=pagination_page %}
  </div>
</section>
{% endblock %}
