django==2.2.5
django-environ==0.4.5
django-extensions==2.2.1
django-formtools==2.1
django-cors-headers==3.1.0
gunicorn==19.9.0
raven==6.10.0
requests==2.22.0
whitenoise==4.1.4
markdown2==2.3.8
beautifulsoup4==4.8.0
django-recaptcha==2.0.5
directory-validators==5.2.0
sigauth==4.1.1
directory-healthcheck==1.1.2
directory-components==35.3.0
directory-constants==20.5.0
geoip2==2.9.0
django-ipware==2.1.0
django-redis==4.10.0
directory-ch-client==2.1.0
directory-api-client==20.0.0
directory-cms-client==11.0.0
directory-sso-api-client==6.2.0
directory-forms-api-client==5.0.0
dateparser==0.7.2
urllib3>=1.24.2,<2.0.0
djangorestframework==3.10.3
uk-postcode-utils==1.0
