{% extends 'article/article_detail_content.html' %}

{% load parse_date from article_tags %}
{% load add_export_elements_classes breadcrumbs from directory_components %}

{% block breadcrumbs %}
<div class="container">
  {% breadcrumbs page.article_title %}
    <a href="{% url 'landing-page' %}">great.gov.uk</a>
    <a href="{% url 'eu-exit-news-list' %}">Brexit news</a>
  {% endbreadcrumbs %}
</div>
{% endblock %}

{% block article_tags %}{% endblock %}

{% block article_footer %}
<footer>
  <nav class="grid-row">
    <div class="column-seven-twelfths margin-left-2-cols">
      <span class="font-xsmall">Back to <a href="{% url 'eu-exit-news-list' %}" class="link">Brexit news</a></span>
    </div>
    <div class="column-quarter">
      <a class="float-right font-xsmall link" href="#content">Back to top</a>
    </div>
  </nav>
</footer>
{% endblock %}
