{% extends 'article/topic_list_base.html' %}

{% block child_pages %}
  {% if page.teaser %}
    <div class="grid-row margin-vertical-60">
      <div class="column-full column-half-l font-medium">
        {{ page.teaser }}
      </div>
    </div>
  {% endif %}
  <div class="card-grid">
    {% for listing in page.child_pages %}
        <div class="column-full column-third-l column-half-m">
          {% include 'article/components/landing_page_card.html' with listing=listing %}
        </div>
    {% endfor %}
  </div>
{% endblock child_pages %}
