{% extends 'article/topic_list_base.html' %}

{% load banner from directory_components %}

{% block intro_section %}
<section id="markets-banner-section" class="topic-list-section background-stone-30 padding-top-60 padding-bottom-0">
  <div class="container">
    {% banner banner_content='<p>There are more export market guides coming soon. If you have a question about an export market read the <a rel="noopener noreferrer" target="_blank" href="https://www.gov.uk/government/collections/exporting-country-guides">exporting guides</a> on GOV.UK, or <a rel="noopener noreferrer" target="_blank" href="https://www.great.gov.uk/contact/triage/location/">get in touch</a>.</p>' %}

    {% if page.teaser %}
    <div class="grid-row margin-top-60">
      <div class="column-full column-half-l font-medium">
        {{ page.teaser }}
      </div>
    </div>
    {% endif %}

  </div>
</section>
{% endblock %}
