{% extends 'article/article_list.html' %}

{% load parse_date from article_tags %}
{% load directory_components %}

{% block css_layout_class %}article-list-page tag-list-page{% endblock css_layout_class %}

{% block hero %}
{% hero hero_text='Articles with tag: '|add:page.name %}
{% endblock %}

{% block breadcrumbs %}
  {% with current_page='Articles with tag: '|add:page.name %}
    {% breadcrumbs current_page %}
      <a href="/">great.gov.uk</a>
    {% endbreadcrumbs %}
  {% endwith %}
{% endblock %}

{% block content_list %}
  {% for article in page.articles %}
    <li class="article">
      <h3 class="heading-medium"><a href="{{ article.full_path }}" class="link">{{ article.article_title }}</a></h3>
      <p class="subheading">Last updated {{ article.last_published_at|parse_date }}</p>
    </li>
  {% endfor %}
{% endblock %}
