{% extends 'article/base.html' %}

{% load breadcrumbs hero from directory_components %}

{% block css_layout_class %}article-list-page{% endblock css_layout_class %}

{% block content %}

{% block hero %}
  {% hero background_image_url=page.hero_image.url hero_text=page.landing_page_title large_title=True %}
{% endblock %}

{% block breadcrumbs %}
<div class="container">
  {% include 'core/breadcrumbs_cms.html' %}
</div>
{% endblock %}

{% block intro_section %}{% endblock %}

{% block child_pages %}
<section id="{{ page.meta.slug }}-list-section" class="topic-list-section background-stone-30 padding-top-60">
  <div class="container">
    <div class="flex-grid">
      {% include 'article/components/card_grid.html' with cards=page.child_pages %}
    </div>
  </div>
</section>
{% endblock %}

{% endblock %}
