{% extends 'core/base.html' %}

{% load static from staticfiles %}
{% load add_export_elements_classes from directory_components_tags %}

{% block head_css %}
{{ block.super }}
<link href="{% static 'styles/ukef-home-page.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block head_title %}UK Export finance - great.gov.uk{% endblock %}

{% block css_layout_class %}uk-export-finance{% endblock %}

{% block content %}
	<section id="get-finance-hero" class="hero hero-generic uk-export-finance-hero" style="background-image: url(http://localhost:8010/media/images/get-finance-banner.original.jpg)">
	{#	url({{ page.hero_image.url }}#}
		<div class="container">
			<div class="hero-title-compact">
				<h1 class="heading-hero-generic-compact" id="hero-heading">
					Get financed
				</h1>
			</div>
		</div>
	</section>

	<section id="breadcrumbs-section" class="breadcrumbs-section">
		<div class="container">
			<nav class="breadcrumbs" aria-label="breadcrumb" role="navigation">
				<ol>
					<li>
						<a href="/">great.gov.uk</a>
					</li>
					<li aria-current="page">UK export Finance</li>
				</ol>
			</nav>
		</div>
	</section>

	<section id="list-teaser-section" class="list-teaser-section">
		<div class="container">
			<p class="body-text">
				When it comes to exporting, having a great product or service is only half the story. Putting the right finance and insurance in place can make the difference, helping you to win contracts, fulfil orders and get paid.
			</p>
		</div>
	</section>


	<section id="card-list-section" class="card-list-section padding-vertical-60 background-stone-30">
		<div class="container">
			<div class="card-grid">
				<div class="column-half-l column-full">
					<div class="card" id="small-and-medium-businesses">
						<a class="card-link" href="#" id="small-and-medium-businesses-link">
							<div class="card-image" role="image" style="background-image: url('{% static 'images/small_bussiness.jpg' %}');" aria-label="Small & medium businesses" title="Small & medium businesses" id="small-medium-image">
								<p class="visually-hidden">Small & medium businesses</p>
							</div>
							<div class="card-inner">
								<h3 class="heading-large" id="small-and-medium-businesses-title">Small & medium businesses</h3>
								<p class="description subheading">Updated 21 December 2018</p>
								<p class="description subheading">1 guide</p>
							</div>
						</a>
					</div>

				</div>

				<div class="column-half-l column-full">
					<div class="card" id="large-corporations-card">
						<a class="card-link" href="#" id="large-corporations-link">
							<div class="card-image" role="image" style="background-image: url('{% static 'images/large_corporations.jpg' %}');" aria-label="Large corporations" title="Large corporations" id="large-corporations-image">
								<p class="visually-hidden">Large corporations</p>
							</div>
							<div class="card-inner">
								<h3 class="heading-large" id="large-corporations-title">Large corporations</h3>
								<p class="description subheading">Updated 21 December 2018</p>
								<p class="description subheading">4 guides</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="why-you-choose-ukef" class="why-you-choose-ukef padding-vertical-60">
		<div class="container">
			<h2 class="heading heading-medium heading-light padding-bottom-45">Why choose UK Export Finance?</h2>
			<div class="grid-row">
				<div class="column-third-l column-full">
					<div class="column-quarter-l">
						<img src="{% static 'icons/why-ukef-icon-1.png' %}">
					</div>
					<div class="column-three-quarters-l">
						<h4 class="heading bold">Win contracts</h4>
						<p class="text">
							UKEF can help you win export contracts by providing attractive financing terms to your buyers.
						</p>
					</div>
				</div>

				<div class="column-third-l column-full">
					<div class="column-quarter-l">
						<img src="{% static 'icons/why-ukef-icon-2.png' %}">
					</div>
					<div class="column-three-quarters-l">
						<h4 class="heading bold">Fulfil orders</h4>
						<p class="text">
							UKEF supports working capital loans so you can take on and fulfil orders with confidence.
						</p>
					</div>
				</div>

				<div class="column-third-l column-full">
					<div class="column-quarter-l">
						<img src="{% static 'icons/why-ukef-icon-2.png' %}">
					</div>
					<div class="column-three-quarters-l">
						<h4 class="heading bold">Get paid</h4>
						<p class="text text-muted">
							UKEF makes sure you get paid by offering insurance against buyer default.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
