{% load static %}
{% load card from directory_components %}


<section id="services" class="services-section padding-top-30 background-stone-30">
  <div class="container">
    <div class="grid-row margin-bottom-30">
      <div class="column-full column-two-thirds-m column-half-l">
        <h2 id="services-section-title" class="heading-large">Export services</h2>
        <p id="services-section-description">Our export services help to connect UK businesses with international buyers.</p>
      </div>
    </div>

    <div class="flex-grid">
      <div class="column-third-xl column-half-l">
        {% static 'images/thumbnail-business-profile.jpg' as fab_image %}
        {% card card_id='services-section-find-a-buyer' url=services_urls.fab img_src=fab_image title='Create a business profile' description='Create your free business profile and promote your company to overseas buyers.' %}
      </div>

      <div class="column-third-xl column-half-l">
        {% static 'images/thumbnail-soo.jpg' as soo_image %}
        {% card card_id='services-section-selling-online-overseas' url=services_urls.soo img_src=soo_image title='Find online marketplaces' description='Identify and apply to sell with marketplaces to reach international consumers.' %}
      </div>

      <div class="column-third-xl column-half-l">
        {% static 'images/thumbnail-exopps.jpg' as exopps_image %}
        {% card card_id='services-section-export-opportunities' url=services_urls.exopps img_src=exopps_image title='Find export opportunities' description='Search for opportunities and pitch your company to overseas buyers who are looking for products and services like yours.' %}
      </div>
    </div>

  </div>
</section>
