{% extends "core/base_international.html" %}

{% load static from staticfiles %}
{% load breadcrumbs from directory_components %}

{% block head_css %}
    {{ block.super }}
    <link href="{% static 'styles/euexit-form.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    {% block breadcrumbs %}  
        <div class="container">
            <div class="margin-bottom-30">
                {% breadcrumbs page.breadcrumbs_label %}
                    <a href="{% url 'landing-page-international' %}">great.gov.uk international</a>
                    {% if features.NEWS_SECTION_ON %}<a href="{% url 'international-eu-exit-news-list' %}">Brexit news</a>{% endif %}
                    <a href="{% url 'contact-us-routing-form' step='location' %}">Contact us</a>
                {% endbreadcrumbs %}
            </div>
        </div>
    {% endblock %}

    {% block form_content %}
        {% include 'euexit/form-contents.html'%}
    {% endblock %}

{% endblock %}
