{% load static from staticfiles %}
{% load parse_date from article_tags %}

<section id="resource-advice" class="advice-section padding-top-30">
  <div class="container">

    <div class="grid-row">
      <div class="column-full column-two-thirds-m column-half-l margin-bottom-30">
        <h2 id="advice-section-title" class="heading-large">Advice</h2>
        <p id="advice-section-description">Find information on the areas of exporting you’re dealing with as and when you need it.</p>
      </div>
    </div>

    <div class="flex-grid">
      {% for listing in page.advice %}
        {% if listing.articles_count > 0 %}
          <div class="column-third-l column-half-m column-full">
            {% include 'article/components/landing_page_card.html' with url=listing.full_path img_src=listing.hero_image_thumbnail.url title=listing.landing_page_title last_published_at=listing.last_published_at articles_count=listing.articles_count  %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

  </div>
</section>
