
// PARTIALS
// from core/sass
@import 'partials/colours';
@import 'partials/vars';
@import 'partials/typography';
@import 'partials/layout';
@import 'partials/mixins';
@import 'partials/utils';

// COMPONENTS
@import 'components/modal';
@import 'components/language-selector-home';
@import 'components/eu-exit-banner';
@import 'components/pagination';
@import 'components/utils';
@import 'components/four-column-card-grid';
@import 'components/sector-selector-form';
@import 'components/chevron-banner';

// PAGES
@import 'pages/landing-page-old';
@import 'pages/landing-page';
@import 'pages/article-list';
@import 'pages/tag-list';
@import 'pages/article-detail';
@import 'pages/campaign-page';
@import 'pages/country-guide-page';


#content {
  padding: 0;
  color: $grey;
}
