.uk-export-contact-form{
  #id_like_to_discuss_other-container{
    position: relative;
    margin-left: 10px;
    top: -20px;
    border-left: 4px solid #D7D7D7;
    padding-left: 20px;
    margin-bottom: 10px;

    @media (max-width: 769px) {
      top: 0;
    }
  }
  @media (min-width: 641px) {
    .autocomplete__wrapper {
      font-size: 19px;
      line-height: 1.31579;
      width: 50%;
    }
  }

  .teaser-text{
    font-size: 24px;
  }
}
