.ukef-article-detail-page{

  .teaser-text{
    font-size: 24px;
  }

  .contact-us-how-we-assess{
    @media (min-width: 641px){
      .column-seven-twelfths {
        float: left;
        margin-left: 16.66667%;
      }
    }
  }
  .article-content{
    padding-bottom: 0;
  }
  @media (min-width: 641px){
    .article-hero-text {
      margin-left: 12.5%;
    }
  }
}

