@import 'partials/utils';
@import 'partials/typography';

.uk-export-finance {
  .uk-export-finance-hero {
    background-position: top center;
    position: relative;

    .hero-title-compact{
      bottom: -7px;
    }

    .heading-hero-generic-compact p{
      margin: 0;
    }
  }

  .card-list-section .card-image{
    height: 320px;
    background-position: top center;
  }

  .why-you-choose-ukef{
    .heading-light{
      font-weight: normal;
      font-size: 36px;
    }

    .description-title{
      font-size: 24px;
    }

    .text{
      font-size: 16px;
    }
  }
}
