{% extends 'core/base.html' %}

{% load static %}

{% block head_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/international.css' %}">
    <link href="{% static 'directory_components/vendor/flag-icons/css/flag-icon.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block head_js %}
  <script src="{% static 'directory_components/js/vendor/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/dit.js' %}"></script>
  <script src="{% static 'directory_components/js/dit.components.cookie-notice.js' %}"></script>
{% endblock %}

{% block css_layout_class %}international-page{% endblock %}

{% block header_js %}
  {% if features.NEW_INTERNATIONAL_HEADER_ON %}
    <script src="{% static 'directory_components/js/dit.responsive.js' %}"></script>
    <script src="{% static 'directory_components/js/dit.utils.js' %}"></script>
    <script src="{% static 'directory_components/js/dit.classes.Dropdown.js' %}"></script>
    <script src="{% static 'directory_components/js/dit.components.cookie-notice.js' %}"></script>
    <script src="{% static 'directory_components/js/dit.components.countrySelector.js' %}"></script>
    <script src="{% static 'directory_components/js/dit.components.languageSelectorDropdown.js' %}"></script>
    <script src="{% static 'directory_components/js/dit.components.greatInternationalHeader.js' %}"></script>
  {% else %}
    <script src="{% static 'directory_components/js/dit.classes.Modal.js' %}"></script>
    <script src="{% static 'js/dit.components.languageSelector.js' %}"></script>
    <script src="{% static 'js/international.js' %}"></script>
    <script src="{% static 'directory_components/js/dit.components.cookie-notice.js' %}"></script>
  {% endif %}
{% endblock %}

{% block head_other %}
  {% include 'core/browser-checks.html' %}
{% endblock %}

{% block skip_link %}{% endblock %}

{% block body_header %}
  {% include 'core/includes/international_header.html' %}
{% endblock %}

{% block body_footer %}
  {% if features.NEW_INTERNATIONAL_HEADER_ON %}
    {% include 'directory_components/header_footer/international_footer.html' %}
  {% else %}
    {% include 'core/includes/international_footer.html' %}
  {% endif %}
{% endblock %}

{% block body_attributes %}id="top"{% endblock %}

{% block cookie_notice %}
  <div dir="ltr">
    {% include 'directory_components/cookie_notice.html' %}
  </div>
{% endblock %}
