{% load static from staticfiles %}
{% load card from directory_components %}

<section class="casestudy-section padding-top-30">
  <div class="container">
    <div class="grid-row">
      <div class="column-full column-two-thirds-m column-half-l">
        <h2 id="case-studies-section-title" class="heading-large">Exporters share their stories</h2>
        <p id="case-studies-section-description" class="body-text">Read what other UK businesses have to say about their experiences with exporting and the decisions they made to secure the future of their business.</p>
      </div>
    </div>

    <div class="flex-grid">
        {% for casestudy in casestudies %}
          <div class="column-third-xl column-half-l">
            {% static casestudy.image_url as image_url %}
            {% card img_src=image_url url=casestudy.url title=casestudy.title %}
          </div>
        {% endfor %}
    </div>
  </div>
</section>
