{% extends 'contact/wizard-domestic.html' %}

{% load static from static %}

{% block step_title %}{% endblock %}
{% block extra_contents %}
    <div id="form-step-body-text">
        <h1 class="heading-large">great.gov.uk account and services support</h1>
    </div>
{% endblock %}
{% block body_js %}
    <script type="text/javascript" src="{% static 'js/dit.components.toggleOther.js' %}"></script>
    <script type="text/javascript">
        var greatServicesChoiceContainer = document.getElementById('id_great-services-choice_0-container')

        GOVUK.utils.toggleFieldsetClassOnClick(
            [greatServicesChoiceContainer],
            null,
            "What services can we help you with?",
            "heading-medium"
        );
    </script>

{% endblock %}
