An item of feedback for the Search has been submitted

Search query before submitting feedback: {{ data['from_search_query'] }}
Page number of search before submitting feedback: {{ data['from_search_page'] }}

---

Did you find what you were looking for?
{{ data['result_found'] }}
What were you looking for?
{{ data['search_target'] }}
Why did you visit this site today?
{{ data['reason_for_site_visit'] }}

---

May we contact you with follow-up questions and support?
{{ data['contactable'] }}
What is your name?
{{ data['contact_name'] }}
What is your email address?
{{ data['contact_email'] }}
What is your phone number? (optional)
{{ data['contact_number'] }}
