{% load add_export_elements_classes cta_link from directory_components_tags %}

{% for accordion in accordions %}
  {% if accordion.title %}
    <li class="accordion-divider">
      <a href="#" class="accordion-expander heading-medium link container margin-vertical-0">
        {% if accordion.icon %}
        <img class="accordion-icon margin-right-15" src="{{ accordion.icon.url }}"/>
        {% endif %}
        {{ accordion.title }}
      </a>
      <div class="accordion-content" aria-labelledby="accordion-content">

        <section id="country-guide-sector-section-one">
          <div class="container">
            <div class="grid-row margin-vertical-30">
              <div class="column-full column-two-thirds-m column-half-l">
                <p class="font-medium">{{ accordion.teaser }}</p>
              </div>
            </div>

            <div class="grid-row">
              {% for subsection in accordion.subsections %}
                {% if subsection.heading %}
                {% if accordion.num_of_subsections == 3 %}
                <div class="column-full column-third-l">
                {% elif accordion.num_of_subsections == 2 %}
                <div class="column-full column-half-l">
                {% else %}
                <div class="column-full">
                {% endif %}
                  {% if subsection.icon %}
                  <img class="section-two-icon" src="{{ subsection.icon.url }}"/>
                  {% endif %}
                  <h3 class="heading-medium margin-top-15">{{ subsection.heading }}</h3>
                  <p class="font-xsmall">{{ subsection.body }}</p>
                </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </section>

        {% if accordion.case_study_title and accordion.case_study_image %}
        <section
          id="country-guide-sector-case-study-section"
          class="case-study"
          style="background-image: url({{ accordion.case_study_image.url }})">
          <div class="container">
            <div class="grid-row">
              <div class="column-full column-two-thirds-m column-half-l column-third-xl">
                <div class="decorative-line border-thin border-flag-red"></div>
                <h2 class="heading-large">{{ accordion.case_study_title }}</h2>
                <p>{{ accordion.case_study_description }}</p>
                {% if accordion.case_study_cta_page and accordion.case_study_cta_text %}
                <a class="button" href="{{ accordion.case_study_cta_page.full_path }}">{{ accordion.case_study_cta_text }}</a>
                {% endif %}
              </div>
            </div>
          </div>
        </section>
        {% endif %}

        <section id="country-guide-sector-statistics-section" class="statistics">
          <div class="container padding-vertical-30px margin-bottom-60-m">
            <div class="card-grid padding-bottom-15 underline-active-blue">
              {% for statistic in accordion.statistics %}
                {% if statistic.number %}
                  {% if accordion.num_of_statistics == 6 %}
                  <figure class="column-half column-third-l column-sixth-xl">
                  {% elif accordion.num_of_statistics == 5 %}
                  <figure class="column-half column-third-l column-sixth-xl">
                  {% elif accordion.num_of_statistics == 4 %}
                  <figure class="column-half column-quarter-xl">
                  {% elif accordion.num_of_statistics == 3 %}
                  <figure class="column-half column-third-l">
                  {% else %}
                  <figure class="column-half">
                  {% endif %}
                    <p class="bold-large active-blue-text statistic-number">{{ statistic.number }}</p>
                    <figcaption>
                      <p class="statistic-heading">{{ statistic.heading }}</p>
                      <p class="font-xsmall statistic-smallprint">{{ statistic.smallprint }}</p>
                    </figcaption>
                  </figure>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </section>

        <section id="country-guide-sector-cta-section" class="sector-ctas">
          <div class="container">
            <div class="grid-row">
{#              {% for cta in accordion.ctas %}#}
{#                {% if accordion.num_of_ctas == 3 %}#}
{#                <div class="column-full column-third-l margin-bottom-30">#}
{#                {% elif accordion.num_octas == 2 %}#}
{#                <div class="column-full column-half-l margin-bottom-30">#}
{#                {% else %}#}
{#                <div class="column-full margin-bottom-30">#}
{#                {% endif %}#}
{#                  {% cta_link with_arrow=True url=cta.url text=cta.text %}#}
{#                </div>#}
{#              {% endfor %}#}
              <div class="column-full column-third-l margin-bottom-30">
                {% cta_link with_arrow=True url=services_urls.invest text="Remember to use page fields" %}
              </div>
              <div class="column-full column-third-l margin-bottom-30">
                {% cta_link with_arrow=True url=services_urls.fas text="This should not be hardcoded" %}
              </div>
              <div class="column-full column-third-l margin-bottom-30">
                {% cta_link with_arrow=True url=services_urls.fas text="Change this you fool" %}
              </div>
            </div>
          </div>
        </section>

      </div>
    </li>
  {% endif %}
{% endfor %}
