
{# For use with CMS pages whose urls reflect the tree structure in the CMS i.e. advice and markets pages #}

<div class="container">
  <nav class="breadcrumbs" aria-label="breadcrumb" role="navigation">
    <ol>
      <li>
        <a href="{% url 'landing-page' %}">great.gov.uk</a>
      </li>
      {% for crumb in page.tree_based_breadcrumbs %}
        {% if not forloop.last %}
          <li>
            <a href="{{ crumb.url }}">{{ crumb.title }}</a>
          </li>
        {% else %}
          <li aria-current="page">{{ crumb.title }}</li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
</div>
